@charset "utf-8";
/* CSS Document */

body {
	padding-top:150px;
	background-image:url(img/bkg.png);
	background-size:cover;
	background-repeat:no-repeat;
	}

#canvas { 

		background:url(img/etch.png);
		background-position:center;
		float:none;
		padding-left: 0;
		padding-right: 0;
		margin:0 auto;
		display: block;
		width: 600px;
		height: 400px;
		border-radius:25px;
		box-shadow: 0 0 25px #000;
		}
		
#btnclear {
	float:none;
	margin:0 auto;
	position:relative;
	width:300px;
	height:30px;
	top:20px;
	left:265px;
	background-image:url(img/btn.png);
	font-family:Verdana, Geneva, sans-serif;
	color:#FFF;
	}
h1 {
	margin: 0 auto;
	position:relative;
	padding-bottom:30px;
	text-align:center;
	padding-top:100px;
	}
	

#sketch {
	background-image:url(img/etchsketch.png);
	background-repeat:no-repeat;
	width:830px;
	height:631px;
	margin:0 auto;
	padding-top:110px;
	}